*{
    margin: 0;
    padding: 0;
}
.menu ul {
    display: flex;
}
.menu ul .list a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
ul{
    font-size: 25px;
    list-style: none;
}
.menu ul .list{
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px gray;
    border: 2px solid transparent;
    margin-left: 0px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.menu ul .heading img{
    width: 250px;
    border-radius: 150px;
}
.menu ul .heading{
    margin-left: 5%;
    margin-right: 15%;
    border-radius: 150px;
    border: 1px solid white;
}
.menu ul .home img{
    width: 50px;
}
.menu ul .search img{
    width: 40px;
    border-radius: 25px;
    margin-left: 2px;
    border: 2px solid transparent;
}
.menu ul .search img:hover{
    border: 2px solid blueviolet;
}
.menu ul .search{
    width: 25%;
    margin-top: 149px;
    margin-right: 0;
    border: 1px solid rgb(0, 81, 255);
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 25px;
    background: rgb(0, 81, 255);
}
input[type=search]{
    width: 100%;
    box-shadow: 0px 0px 5px gray;
    text-indent: 10px;
    border-radius: 20px;
    margin-left: 5px;
    border: 1px solid transparent;
    outline: none;
}
input[type=search]:focus{
    border: 1px solid rgb(0, 81, 255);
}
.menu ul .home{
    margin-top: 140px;
    margin-right: 10px;
    border: 1px solid transparent;
    padding: 10px;
}
.menu ul .home:hover{
    box-shadow: 0 0 10px gray;
    height: 48px;
    border-radius: 20px;
}
.menu ul .list:hover{
    border: 2px solid blue;
    box-shadow: 1px 1px 5px blue;
    background-color: #e3edf7;
}
.alltext{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.alltext .text{
    position: relative;
    max-width: 600px;
    margin-left: 120px;
}
.alltext .text h2{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
}
.alltext .text a{
    display: block;
    margin-top: 20px;
    padding: 8px 20px;
    background: gray;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    width: 60px;
}
.alltext .img img{
    width: 600px;
    height: 600px;
}
.alltext .img img:hover{
    width: 610px;
}
.alltext .text p{
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}
.alltext .text a:hover{
    background: blueviolet;
}
.alltext .admin img{
    width: 40px;
}
.alltext .adim img:hover{
    width: 41px;
}
.allogin{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login{
    width: 500px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.login from p{
    font-size: 40px;
    border-bottom: 4px solid #93ff2d;
    width: 110px;
    padding: 0;
    margin-left: 10%;
}
.login from div{
    font-size: 18px;
    font-style: italic;
    color: blue;
}
input{
    width: 80%;
    height: 40px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2.5px solid #93ff2d;
    outline: none;
}
input:focus{
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2.5px solid blue;
}
.login from #submit{
    width: 80.5%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 4px solid #93ff2d; 
    font-size: 20px;
}
.login from #submit:hover{
    background: gray;
    color: white;
    border: 4px solid blue;
}
::placeholder{
    color: rgb(71, 71, 71);
}
input[type=text]{
    text-indent: 10px;
}
input[type=password]{
    text-indent: 10px;
}
.c1{
    text-align: center;
    margin-bottom: 50px;
}
.c1 img{
    width: 40px;
    border-radius: 20px;
    border: 2px solid transparent;
}
.c1 img:hover{
    border: 2px solid blue;
}


